<nav class="navbar navbar-default">


  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="nav navbar-nav">
      <li>
        {{#link-to 'index'}}Recipe Recon{{/link-to}}
      </li>
      <li>
        {{#link-to 'favorites'}}My Favorites{{/link-to}}
      </li>
    </ul>
  </div>
</nav>



<main role="main" class="container">
  {{#if session.isAuthenticated}}
    Logged in as {{session.currentUser.displayName}}
    <button {{action "signOut"}}>Sign out</button>
  {{else}}
    <button {{action "signIn" "google"}}>Sign in with Google</button>
  {{/if}}
  <div class="row">
    <div class="col-md-12">
      {{outlet}}
    </div>

  </div>




</main>
<!-- /.container -->
